@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Bungee+Shade&family=Cormorant+Garamond:wght@300&family=Josefin+Sans:wght@100;700&family=Kaushan+Script&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@300;800;900&family=Oswald:wght@700&family=Prata&family=Roboto:wght@900&family=Rubik+Moonrocks&family=Russo+One&family=Ubuntu:wght@700&family=Yeseva+One&display=swap');
* {
	cursor: url("image/cursor2.png");
}
/*body {
	background: url("image/hero-bg.jpg") no-repeat center center fixed;
	background-size: cover;
}*/
body {
	margin: 0;
	padding: 0;
	/*overflow-x: hidden;*/
	user-select: none;
}
.back {
	background: url("image/hero-bg.jpg") no-repeat center center fixed;
	
	/*background-color: #1d1d1d;
	width: 100%;
	background-size: cover;
	overflow-x: hidden;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;*/

	display: flex;
	justify-content: center;
    width: 100%;
    height: 90vh;
	align-items: center;
	overflow-x: hidden;
}
.back video {
	height: 90vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	z-index: 1;
	overflow-y: hidden;
}
/*.logo {
	background: url("image/sindicat.png");
	width: 100px;
	height: 150px;
	margin-top: 10px 0 0 10px;
}*/
.text {
	display: block;
	justify-content: center;
	margin: -5% 0 0 0;
	z-index: 2;
	font-family: 'Cormorant Garamond', serif;
	color: #fff;
}
.text-intro2 {
	font-size: 75px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	user-select: none;  
}
.text-intro1 {
	font-size: 20px;
	color: #fff;
	font-family: 'Montserrat', sans-serif;

	margin-bottom: -40px;
	user-select: none; 

	text-shadow:
		   0 0 5px #FFFFFF,
		   0 0 10px #FFFFFF,
		   0 0 20px #FFFFFF,
		   0 0 40px #bd5033,
		   0 0 80px #bd5033,
		   0 0 90px #bd5033,
	       0 0 100px #bd5033,
		   0 0 150px #bd5033;
	
}
.button {
	color: #fff;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	border: 2px solid #fff;

	/*margin-left: -15%;*/
	text-align: center;
	justify-content: center;
	padding: 20px 60px;
	box-shadow: inset 0 0 0 0 rgb(225, 225, 225, 0.5);
	transition: ease-out 0.7s;
	/*rgb(189, 80, 51, 0.5);*/
}
.button:hover {
	box-shadow: inset 400px 0 0 0 rgb(225, 225, 225, 0.5);
	
	color: #fff;
}

.line {
	background-size: cover;
	width: 120px;
	height: 30%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.menu-button {
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	font-family: sans-serif;
	/*padding: 0 70px 0 70px;*/
	justify-content: center;
	text-align: center;
	
}
.main-menu-button {
	margin: 20px 35px 0 35px;
	font-size: 30px;

	text-decoration: none;
	/*color: #808186;*/
	color: #bd5033;
	justify-content: center;
}
nav {
	justify-content: center;
	margin: 200px 0 0 0;
	/*justify-content: center;
	align-items: center;*/
}
ul li a:hover, .main-menu-button:hover{
	text-shadow:
		   0 0 5px #FFFFFF,
		   0 0 10px #FFFFFF,
		   0 0 20px #FFFFFF,
		   /*0 0 40px #bd5033,
		   0 0 80px #bd5033,
		   0 0 90px #bd5033,
	       0 0 100px #bd5033,
		   0 0 150px #bd5033;*/
		   0 0 40px #fff,
		   0 0 80px #fff,
		   0 0 90px #fff,
	       0 0 100px #fff,
		   0 0 150px #fff;
}
i {
	font-size: 60px;
	margin-top: 50px;
}
li {
	list-style: none;
}
.text-intro2:hover {
    color: #fff;
	transition: 0.3s;
	/*-webkit-text-stroke: 3px #8e26d1;
	transition: 0.3s*/
}

/*.glamour1 {             <h3 class = "text-intro1"><p class = "glamour1">h1</p>W E  A R E  I N F I N I T Y.</h3>
	font-size: 10px;      h1 возле надписи we are infinity
	color: red;
	font-family: cursive;
	display: inline-block;
}
*/
 
/* Второй блок изображений */
/*.second-block {
	background-color: #1d1d1d;
	width: 100%;
	overflow-x: hidden;
	height: 1000px;
}*/

.back-2 {
    width: 100%;
    height: 60vh;

    background: url("image/bg-2.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.my-portfolio {
	color: #fd2155;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	font-weight: 700;
	margin: 50px 0 0 10%;
	display: inline-block;
}
.port {
	font-size: 60px;
	margin: 30px 0 0 150px;
	color: #fd2155;
	font-family: 'Josefin Sans', sans-serif;
	/*font-weight: 100;*/
	display: inline-block;
}
.about-me {
	color: #fff;
	font-size: 25px;
	margin: 0 0 0 150px;
	font-family: 'Josefin Sans', sans-serif;
}
.see-more {
	position: relative;
	color: #fd2155;
	font-size: 25px;
	text-decoration: none;
}
.see-more::before {
	content: '';
	position: absolute;
	left: 0; 
	bottom: -1px;
	width: 0;
	height: 1.5px;
	background-color: #fd2155;
}
.see-more:hover:before {
	width: 100%;
}
.see-more::before {
	transition: width 0.35s;
}
.row, .row1{
	display: flex;
	margin: 0 0 0 150px;
}
.row {
	margin: 20px 0 0 150px;
}
.img-portfolio-1, .img-portfolio-2, .img-portfolio-3, .img-portfolio-4, .img-portfolio-5, .img-portfolio-6, .img-portfolio-7, .img-portfolio-8, .img-portfolio-9, .img-portfolio-10 {
	flex-grow: 5;
	height: 300px;
	margin: 1px;
	opacity: 0.7;
}
.img-portfolio-1 {
	background: url("image/coffee.png") no-repeat center center;
	background-size: cover;
}
.img-portfolio-2 {
	background: url("image/just.png") no-repeat center center;
	background-size: cover;
}
.img-portfolio-3 {
	background: url("image/bike.png") no-repeat center center;
	background-size: cover;
}
.img-portfolio-4 {
	background: url("image/fashion.png") no-repeat center center;
	background-size: cover;
}
.img-portfolio-5 {
	background: url("image/idea.png") no-repeat center center;
	background-size: cover;
}
.img-portfolio-6 {
	background: url("image/lamb.png") no-repeat center center;
	background-size: cover;
}
.img-portfolio-7 {
	background: url("image/crown.png") no-repeat center center;
	background-size: cover;
}
.img-portfolio-8 {
	background: url("image/vinyl.png") no-repeat center center;
	background-size: cover;
}
.img-portfolio-9 {
	background: url("image/stay.png") no-repeat center center;
	background-size: cover;
}
.img-portfolio-10 {
	background: url("image/coming.png") no-repeat center center;
	background-size: cover;
}
.img-portfolio-1:hover, .img-portfolio-2:hover, .img-portfolio-3:hover, .img-portfolio-4:hover, .img-portfolio-5:hover, .img-portfolio-6:hover,
.img-portfolio-7:hover, .img-portfolio-8:hover, .img-portfolio-9:hover, .img-portfolio-10:hover {
	opacity: 1;
	transition: 0.5s;
}
.work {
	font-size: 60px;
	color: #262626;
	font-weight: 300;
	margin: 0 0 0 10%;
	display: inline-block;
}
.bitlo {
	position: relative;
	color: #fff;
	margin-left: 10px;
	font-size: 25px;
	font-family: 'Josefin Sans', sans-serif;
	display: inline-block;
}
.bitlo::before {
	content: '';
	position: absolute;
	left: 0; 
	bottom: -1px;
	width: 0;
	height: 1.5px;
	background-color: #fd2155;
}
.bitlo:hover:before {
	width: 100%;
}
.bitlo::before {
	transition: width 0.35s;
}
/*.bitlo:hover {
	color: #fd2155;
	transition: 0.7s;
}*/
.row{
	display: flex;   
} 
/*.img-portfolio1{
	flex-grow: 5;
	height: 300px;
	background: url("image/m1.png");
	background-size: cover;
	margin: 1px;
}*/
.img-portfolio1:hover {
	transition: 0.7s;
	opacity: 0.4;
}
.text-opacity {
	visibility: hidden;
}
.text-opacity:hover {
	color: #000;
	font-size: 25px;
	visibility: visible;
	transition: 1s;
	transform:translatey(-160px);
}

/*ТРЕТИЙ СЛАЙД. СФЕРА*/
.back-4 {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 110vh;
	display: inline-block;
    background: url("image/bg-3.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.me {
	font-size: 60px;
	margin: 300px 0 400px 150px;
	/*margin: 50px;*/
	color: #fd2155;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 500;
	/*font-weight: 600;*/
	display: inline-block;
	position: absolute;
	z-index: 9;
}
.me-paragraph {
	font-size: 25px;
	margin: 380px 0 0 190px;                                          
	/*margin: 50px;*/       
	position: relative;
	width: 600px;
	height: 50px;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	display: inline-block;
}
.Sphere {
	display: inline-block;
	margin: -900px 0 0 1000px;
}

/* Applying CSS to sphere */
.tagcloud {
	margin: 500px 0 0 100px;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	
  }
  
  /* Change color of each text in sphere on hover   */
  .tagcloud--item:hover {
	color: #fff;
	transition: 0.6s
}
.me-button {
	width: 120px;
	height: 40px;
	background-color: #fff;
	color: #fd2155;
	border: 1px solid #fd2155;
	margin: 20px 0 0 190px;
}
.back-5 {
	width: 100%;
    height: 110vh;

    background: url("image/back-5.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.blog-grow-1,.blog-grow-2, .blog-grow-3 {
	display: inline-block;
	margin: 0 0 0 100px;
}
.blog-grow-1 {
	margin: 100px 0 0 100px;
}
.blog1 {
	width: 500px;
	height: 400px;
	/*background-color: #272727;
	border: 1px solid black;*/
	margin: 100px 30px 20px 30px;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.9);*/
	display: inline-block;
	border-radius: 5%;
	background: url("image/port1.jpg") no-repeat center center;
	background-size: cover;
}
.blog2 {
	width: 500px;
	height: 400px;
	/*background-color: #272727;
	border: 1px solid black;*/
	margin: 20px 30px;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.9);*/
	display: inline-block;
	border-radius: 5%;
	background: url("image/port1.jpg") no-repeat center center;
	background-size: cover;
}
.blog3 {
	width: 500px;
	height: 400px;
	/*background-color: #272727;
	border: 1px solid black;*/
	margin: 20px 30px;
	/*box-shadow: 0 0 10px rgba(0,0,0,0.9);*/
	display: inline-block;
	border-radius: 5%;
	background: url("image/port1.jpg") no-repeat center center;
	background-size: cover;
}
.blog1-text-1 {
	color: #fff;
	margin: 50px 0 0 30px;
	font-family: 'Josefin Sans', sans-serif;
}
.blog1-text-2 {
	font-size: 30px;
	color: #fff;
	margin: 10px 0 0 30px;
	font-family: Montserrat, sans-serif;
}
.blog1-text-2:hover {
	color: #81d8f7;
	transition: 0.6s;
}
.back-6 {
	width: 100%;
    height: 100vh;

    background: url("image/back-6.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.contact-me-1 {
	display: inline-block;
	margin: 200px 0 0 150px;
	font-size: 60px;
	color: #fd2155;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}
.contact-me-2 {
	margin: 30px 0 0 150px;
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	font-size: 25px;
}
.contact-me-input {
	display: inline-block;
}
.name {
	margin: 50px 0 0 150px;
	height: 50px;
	width: 450px;
	background-color: #272727;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	color: #fff;
}
.surname {
	margin: 50px 0 0 10px;
	height: 50px;
	width: 450px;
	background-color: #272727;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	color: #fff;
}
.subject {
	margin: 10px 0 0 150px;
	height: 50px;
	width: 920px;
	background-color: #272727;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	color: #fff;
}
.message {
	margin: 10px 0 0 150px;
	height: 150px;
	width: 920px;
	background-color: #272727;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	color: #fff;
}
input {
	outline: none;
}
.contact-me-button {
	padding: 20px 70px;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	text-decoration: none;
	margin: 50px 0 0 150px;
	display: inline-block;
	position: relative; 
	box-shadow: inset 0 0 0 0 rgb(225, 225, 225, 0.5);
}
.contact-me-button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(255,255,255,0.1);
	transition: all 0.3s;
}
.contact-me-button:hover::before {
	opacity: 0 ;
	transform: scale(0.5,0.5);
}
.contact-me-button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.contact-me-button:hover::after {
	opacity: 1;
	transform: scale(1,1);
}
.map {
	height: 100vh;
	width: 800px;
	background: url("image/map.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
	display: inline-block;
	position: absolute;
    right: 0;
	margin-top: -70vh;
}
.map-content {
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	width: 300px;
	height: 150px;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.9);
	margin: 50px 0 0 50px;
	display: inline-block;
}
.map-margin-1 {
	margin: 20px 0 0 5px;
	display: inline-block;
}
.map-margin-2 {
	margin-top: 10px;
}
.mail {
	display: inline-block;
	color: #06c5a9;
}
::-webkit-scrollbar {
	width: 0;
}
#scrollPath {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100vh;
	background: rgba(255,255,255,1);
}
#progressbar {
	position: fixed;
	top: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background: linear-gradient(to top #008aff, #00ffe7);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.menu-icon:checked + label,
.menu-icon:not(:checked) + label{
  position: fixed;
  top: 63px;
  right: 75px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 10;
}
.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before{
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid #ececee;
  border-bottom: 2px solid #ececee;
  transition: border-width 100ms 1500ms ease, 
              top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms ease,
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after{
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: #ececee;
  margin-top: -1px;
  transition: width 100ms 1750ms ease, 
              right 100ms 1750ms ease,
              margin-top 100ms ease, 
              transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:before{
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: #ececee;
  border-width: 0;
  transition: border-width 100ms 340ms ease, 
              top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
              height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1), 
              background-color 200ms 500ms ease,
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-icon:checked + label:after{
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
              right 100ms ease,  
              margin-top 100ms 500ms ease, 
              transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav{
  position: fixed;
  top: 33px;
  right: 50px;
  display: block;
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(0,0,0,0.3);
  background-color: #784cfb;
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 1100ms ease,
              width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
              height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.menu-icon:checked ~ .nav {
  animation-play-state: paused;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),  
              right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
              transform 250ms 700ms ease,
              width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
              height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul{
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 6;
  text-align: center;
  transform: translateY(-50%);
  list-style: none;
}
.nav ul li{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}
.nav ul li:nth-child(1){
  transition-delay: 200ms;
}
.nav ul li:nth-child(2){
  transition-delay: 150ms;
}
.nav ul li:nth-child(3){
  transition-delay: 100ms;
}
.nav ul li:nth-child(4){
  transition-delay: 50ms;
}
.nav ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 9vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  display: inline-block;
  position: relative;
  color: #ececee;
  transition: all 250ms linear;
}
.nav ul li a:hover{
  text-decoration: none;
  color: #ffeba7;
}

.nav ul li a:hover:after{
  width: 100%;
}


.menu-icon:checked ~ .nav  ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
              transform 250ms ease;
}
.menu-icon:checked ~ .nav ul li:nth-child(1){
  transition-delay: 1400ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(2){
  transition-delay: 1480ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(3){
  transition-delay: 1560ms;
}
.menu-icon:checked ~ .nav ul li:nth-child(4){
  transition-delay: 1640ms;
}
.line-1 {
	height: 17vh;
	width: 100%;
	border-top: 2px solid #171717;
	text-decoration: none;
}
.line-2 {
	height: 17vh;
	width: 100%;
	border-top: 2px solid #171717;
	text-decoration: none;
}
.line-3 {
	height: 17vh;
	width: 100%;
	border-top: 2px solid #171717;
	text-decoration: none;
}
.line-4 {
	height: 17vh;
	width: 100%;
	border-top: 2px solid #171717;
	border-bottom: 2px solid #171717;
	text-decoration: none;
}

.logo {
	position: absolute;
	top: 60px;
	left: 50px;
	display: block;
	z-index: 11;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
}

@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  h1{
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;
    -webkit-text-fill-color: #ffeba7;
    color: #ffeba7;
  }
  .nav ul li a{
    font-size: 8vh;
  }
}
/* ВТОРОЙ БЛОК - ПОРТФОЛИО */
.back-7 {
	background: url("image/test-2.png") no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.portfolio-block {
	display: flex;
    justify-content: center;
	position: relative;
}
.portfolio-block-1 {
	display: none;
}
.web-block {
	width: 350px;
	height: 600px;
	background: url("image/web3.png") no-repeat center center;
	background-size: cover;
	/*background-color: #f6f7fb;*/
	display: inline-block;
	margin: 200px 50px 0 0;
	/*box-shadow: 0 0 10px rgba(120,76,251,0.9);*/
}
.design-block {
	width: 350px;
	height: 600px;
	background: url("image/design2.png") no-repeat center center;
	background-size: cover;
	/*background-color: #f6f7fb;*/
	display: inline-block;
	margin: 200px 50px 0 0;
	/*box-shadow: 0 0 10px rgba(120,76,251,0.9);*/
}
.app-block {
	width: 350px;
	height: 600px;
	background: url("image/app2.png") no-repeat center center;
	background-size: cover;
	/*background-color: #f6f7fb;*/
	display: inline-block;
	margin: 200px 0 0 0;
	/*box-shadow: 0 0 10px rgba(120,76,251,0.9);*/
}
.portfolio-button {
	font-size: 25px;
	color: #fff;
	padding: 10px 30px;
	/*border: 1px solid #000;*/
	position: absolute;
    bottom: 0;
	border-radius: 25px;
	/*margin-left: 70px;*/
	margin: 0 0 50px 100px;
	font-family: 'Montserrat Alternates', sans-serif;
	text-decoration: none;
	background-color: #784cfb;
}
.portfolio-button:hover {
	transition: 0.5s;
	background-color: #fff;
	color: #784cfb;
	font-family: 'Montserrat Alternates', sans-serif;
	/*box-shadow: 0 0 20px rgba(255,255,255,0.9);*/
	border: 1px solid #784cfb;
}
.image-block-1, .image-block-2, .image-block-3 {
	width: 50px;
	height: 50px;
	/*margin-left: 120px;*/
	margin: 50px 0 0 150px;
}
.image-block-1 {
	background: url("image/design-icon.png") no-repeat center center;
	background-size: cover;
}
.image-block-2 {
	background: url("image/code-icon.png") no-repeat center center;
	background-size: cover;
}
.image-block-3 {
	background: url("image/app-icon.png") no-repeat center center;
	background-size: cover;
}
.portfolio-text {
	color: #000;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
}
.portfolio-main {
	margin: 30px 0 0 0;
	color: #000;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 20px;
	text-align: center;
}
/*.web-block:hover, .design-block:hover, .app-block:hover {
    animation: bounce 1s infinite;
}*/
p {
	display: inline-block;
}
/*@keyframes bounce {
	0%, 40%, 60%, 100% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
 
	20% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
 
	80% {
		-webkit-transform: translateY(-20px);
	*/
.uno:hover, .dos:hover, .tres:hover, .cuatro:hover, .cinco:hover, .seis:hover, .siete:hover, .ocho:hover,
.nueve:hover, .diez:hover, .once:hover, .doce:hover, .trece:hover, .catorce:hover{
	animation: bounce 1s infinite;
}
.flip-card {
	width: 350px;
	height: 600px;
	/*perspective: 1000px;*/
  }
  
  .flip-card-inner {
	background: transparent;
	position: relative;
	width: 100%;
	height: 100%;
	/*text-align: center;*/
	transition: transform 0.6s;
	transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
	background: url("image/white.png") no-repeat center center; /*меняет зеркально фон при наведении*/
	background-size: cover;
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	border-radius: 20px;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-back {
	transform: rotateY(180deg);
  }
.portfolio-button-back {
	font-size: 25px;
	color: #784cfb;
	padding: 10px 30px;
	border: 1px solid #784cfb;
	position: absolute;
    bottom: 0;
	border-radius: 25px;
	/*margin-left: 70px;*/
	margin: 0 0 50px 100px;
	font-family: 'Montserrat Alternates', sans-serif;
	text-decoration: none;
	background-color: #fff;
}
.portfolio-button-back:hover {
	transition: 0.3s;
	background-color: #784cfb;
	color: #fff;
}
.portfolio-text-back {
	color: #000;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin-top: 100px;
}
.portfolio-main-back {
	background: url("image/port1.jpg") no-repeat center center;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-radius: 5%;
	margin: 0 25px 0 25px;
}
.portfolio-text-back-2 {
	color: #000;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin-top: 100px;
}
.portfolio-main-back-2 {
	background: url("image/port2.png") no-repeat center center;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-radius: 5%;
	margin: 0 25px 0 25px;
}
.portfolio-text-back-3 {
	color: #000;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin-top: 100px;
}
.portfolio-main-back-3 {
	background: url("image/port5.jpg") no-repeat center center;
	background-size: cover;
	width: 300px;
	height: 250px;
	border-radius: 5%;
	margin: 0 25px 0 25px;
}
.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.progress-container {
	background-color: rgba(150, 150, 150, 0.6);
	height: 5px;
	width: 100%;
}
.progress-bar {
	background-color: #784cfb;
	height: 5px;
	width: 0%;
}
.content {
	padding: 2em;
}

.back-8 {
	background: url("image/slide4.png") no-repeat center center;
	background-size: cover;
	height: 200vh;
	width: 100%;
}
@media (max-width: 1100px) { 
	.back-4 {
		height: 40vh;
	}
	.back-2 {
		height: 55vh;
	}
	.menu-button {
		font-size: 100px;
	}
	.img-portfolio, .img-portfolio-ban {
		height: 200px;
	}
	.port {
		font-size: 65px;
	}
	.about-me {
		font-size: 25px;
	}
	.button {
		padding: 30px 70px;
		font-size: 25px;
	}
	.bitlo {
		font-size: 35px;
	}
	.me {
		margin-top: -50px;
	}
	.Sphere {
		display: none;
	}
	.progress-container {
		height: 10px;
	}
	.progress-bar {
		height: 10px;
	}
	.app-block {
		width: 700px;
		margin: 200px 20% 0 0;
	}
	.design-block {
		width: 700px;
		margin: 200px 20% 0 0;
	}
	.web-block {
		width: 700px;
		margin: 200px 20% 0 0;	
	}
	/*.blog-grow-1, .blog-grow-2, .blog-grow-3 {
		display: none;
	}
	.blog1, .blog2, .blog3 {
		display: none;
	}*/
	.back-6 {
		display: none;
	}
	.portfolio-block-1 {
		display: inline-block;
	}
	.portfolio-block {
		display: none;
	}
	.flip-card-front {
		text-align: center;
	}
}
